  a {text-decoration: none;
    color: rgb(245, 235, 235);
    }
  
  body {
    font-family: Arial;
    
    background: #878181;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background:  rgb(100, 92, 92);
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: rgb(94, 83, 83);
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }



  .leftcolumn {   
    align-items: center;
    width: 75%;
  }

  .img{
    border-radius: 150%;
  }
 
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 4--px;
    background-color:rgb(255, 255, 255);
    height: 200px;
    border: double 10px;
  }
  
  div.gallery:hover {
    border: 1px solid rgb(205, 96, 96);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
    
.cert{
  flex-direction: column;
  border: solid 10px;
}